// Подключаем service через use

@use '../../lib/service.scss' as s;

// Создаем стилизацию
.form {
  display: flex;
  flex-direction: column; // Отвечает за построение в столбик
  padding: s.space(4); // Отвечает за отступы
  gap: s.space(8);

  &__enter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: s.space(2.5);
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: s.space(2);

    justify-content: center;
  }

  &__label {
    font-size: s.size(3);
  }

  &__button {
    display: flex;
    align-self: end;
    color: s.color('light');
    background-color: s.color(colorBlueDark);
    border: 1px solid s.color('light');
    padding: s.space(1);
    border-radius: s.size(2);

    text-decoration: none;
    cursor: pointer;

    width: max-content;
    font-size: 14px;
  }
}

.nav {
  display: flex;
  position: absolute;
  bottom: 0%;

  &__button {
    margin: 5px;
    padding: 1px 10px 1px 10px;
    color: s.color('light');
    background-color: s.color(colorBlueDark);

    border: 1px solid s.color(colorBlack);
    border-color: s.color(colorBlack);
    border-radius: 5px;

    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
}
