// Подключаем service через use

@use '../../lib/service.scss' as s;

.form {
  display: flex;
  flex-direction: column; // Отвечает за построение в столбик
  padding: s.space(4); // Отвечает за отступы
  gap: s.space(8);

  &__enter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: s.space(2.5);
  }

  &__title {
    font-size: s.size(8); // Отвечает за размер шрифта
    color: s.color(colorBlueDark);
    font-weight: bold; // Отвечает за толщину линии букв
  }

  &__content {
    display: grid;
    gap: s.space(6);
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: s.space(2);
  }

  &__info {
    font-size: 16px;
    font-weight: bold;
  }

  &__label {
    font-size: 12px;
  }

  &__input {
    border: 1px solid s.color('light');
    padding: s.space(2);
  }

  &__input:focus {
    background-color: grey;
    padding: s.space(2);
  }

  &__description {
    border: 1px solid s.color('light');
    padding: s.space(1);
  }

  &__button {
    color: s.color('light');
    background-color: blue;
    border: 1px solid s.color('light');
    padding: s.space(2);
    border-radius: 4px;

    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
}

.product-list {
  li {
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.nav {
  //   display: flex;
  //   position: absolute;
  //   bottom: 0%;

  &__button {
    margin: 5px;
    padding: 1px 10px 1px 10px;
    color: s.color('light');
    background-color: s.color(colorBlueDark);

    border: 1px solid s.color(colorBlack);
    border-color: s.color(colorBlack);
    border-radius: 5px;

    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
}

// section {
//   display: flex;
//   gap: 10px;
// }
