{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}



<div>
	<h1>{{info}}</h1>
	<a href="/user">Вернуться на главную страницу</a>

</div>

<br>

<div class="nav">
	<a href="/" class="nav__button">Вернуться</a>
	<a href="/product-create" class="nav__button">Перейти на Product</a>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}